<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.timu.oj.judge.mapper.ProblemTagMapper">

    <resultMap id="BaseResultMap" type="fun.timu.oj.judge.model.DO.ProblemTagDO">
        <id property="id" column="id"/>
        <result property="tagName" column="tag_name"/>
        <result property="tagNameEn" column="tag_name_en"/>
        <result property="tagColor" column="tag_color"/>
        <result property="category" column="category"/>
        <result property="usageCount" column="usage_count"/>
        <result property="status" column="STATUS"/>
        <result property="description" column="description"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,tag_name,tag_name_en,tag_color,category,usage_count,
        STATUS,description,is_deleted,created_at,updated_at
    </sql>
</mapper>
