<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.timu.oj.judge.mapper.ProblemTagRelationMapper">

    <resultMap id="BaseResultMap" type="fun.timu.oj.judge.model.DO.ProblemTagRelationDO">
        <id property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,problem_id,tag_id,is_deleted,created_at
    </sql>
</mapper>
