<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.timu.oj.account.mapper.AccountMapper">    <resultMap id="BaseResultMap" type="fun.timu.oj.account.model.DO.AccountDO">
        <id property="id" column="id" />
        <result property="accountNo" column="account_no" />
        <result property="nickname" column="nickname" />
        <result property="headImg" column="head_img" />
        <result property="phone" column="phone" />
        <result property="pwd" column="pwd" />
        <result property="secret" column="secret" />
        <result property="auth" column="auth" />
        <result property="status" column="status" />
        <result property="totalExecutionCount" column="total_execution_count" />
        <result property="lastExecutionTime" column="last_execution_time" />
        <result property="executionTimeout" column="execution_timeout" />
        <result property="memoryLimit" column="memory_limit" />
        <result property="isDeleted" column="is_deleted" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="lastLoginAt" column="last_login_at" />
    </resultMap>    <sql id="Base_Column_List">
        id,account_no,nickname,head_img,phone,
        pwd,secret,auth,status,total_execution_count,last_execution_time,
        execution_timeout,memory_limit,is_deleted,created_at,updated_at,
        last_login_at
    </sql>
</mapper>
